@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #fdfdfd;

  --font-monext-black: 'PPMonumentExtended-Black', sans-serif;
  --font-monext-black-italic: 'PPMonumentExtended-BlackItalic', sans-serif;
  --font-monext-light: 'PPMonumentExtended-Light', sans-serif;
  --font-monext-light-italic: 'PPMonumentExtended-LightItalic', sans-serif;
  --font-monext-regular: 'PPMonumentExtended-Regular', sans-serif;
  --font-monext-regular-italic: 'PPMonumentExtended-RegularItalic', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}
